@font-face {
  font-family: 'Header';
  src: url('./SellenaBrush-x3JyK.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./Montserrat-VariableFont_wght.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
}


body {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	color: rgb(63, 50, 68);
	font-family: MainFont, sans-serif;
	background-color: rgb(182, 169, 172);
}

#leftSide,
#rightSide {
	border-radius: 30px;
	padding: 20px;
}

#leftSide{
	width: 200px;
	background-color: #e5c3d1;
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
	gap: 10px;
	align-self: start;
}

#leftSide > div,
.cards,
.tasks {
	box-sizing: border-box;
	padding: 10px 10px 10px 15px;
}

#leftSide > div,
.cards {
	border-radius: 10px;
}

#leftSide > div:hover,
.cards:hover{
	transform: translateY(-5%);
	cursor:pointer;
}

#leftSide > div {
	background-color: rgb(152, 139, 142);
}

#rightSide {
	flex-grow: 2;
	width: 300px;
  background-color: rgb(152, 139, 142);
}

#right-side-content > h2 {
	margin: 0px; 
	font-family: Header, cursive;
	font-size: 64px;
}

#card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 110px);
	grid-auto-rows: 110px;
	gap: 20px;
}

.cards {
	background-color: #e5c3d1;
}

#rightSide button {
	font-weight: 600;
	font-size: 20px;
	margin: 0px 0px 15px;
	padding: 0px 12px 2px 5px;
	background-color: transparent;
	border: none;
	border-radius: 30px;
	color: rgb(63, 50, 68);
}

#rightSide button:hover {
	color: rgb(152, 139, 142);
	background-color: rgb(63, 50, 68);
	cursor: pointer;
}

#rightSide span {
	font-size: 24px;
}

#task-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
}

.tasks {
	/*width: 250px;*/
	background-color: #e5c3d1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	border-radius: 5px;
} 

.task-main{
	margin-right: auto;
}

/*.X {
	width: 10px;
	display: flex;
	align-items: center;
}

.X::before,
.X::after {
	content: '';
	background-color: rgb(63, 50, 68);
	width: 4px;
	height: 18px;
	position: absolute;
	border-radius: 30px;
}

.X::before {
	transform: rotate(-45deg);
}

.X::after {
	transform: rotate(45deg);
}*/